.year{
    background-color:#20C997 ;
    color: #fff;
    width: 120px;
    text-align: center;
    border-radius: 4px;
}
.uni{
    color: #20C997;
}
.details{
    color: #7a7979;
}
.education{
    background: #111418;
}