.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#light {
  background-color: #ffffff;
  transition: 2s;
}
#dark {
  background-color: #242424;

  transition: 2s;
}

#light .sidebar > div > div {
  background-color: #121212 !important;
  color: #121212;
  transition: 2s;
}
#dark .sidebar > div > div {
  background-color: #121212 !important;
  color: #fff;
  transition: 2s;
}
#light .navbar {
  background-color: #fff !important;
  color: #121212;
  transition: 2s;
}
#dark .navbar {
  background-color: #242424 !important;
  color: #fff;
  transition: 2s;
}

#light .main {
  color: #121212;
  transition: 2s;
}
#dark .main {
  color: #fff;
  transition: 2s;
}

#light .icon > div {
  color: #fff;
  transition: 2s;
}
#dark .icon > div {
  color: #fff;
  transition: 2s;
}
