@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
body {
  font-family: Poppins, sans-serif !important;
  color: #4c4d4d !important;
  margin: 0px !important;
  padding: 0px !important;
}
.App {
  width: 100vw;
  height: 100vh;
}

#light {
  background-color: #ffffff;
  transition: 2s;
}
#dark {
  background-color: #242424;

  transition: 2s;
}

#light .sidebar > div > div {
  background-color: #121212 !important;
  color: #121212;
  transition: 2s;
}
#dark .sidebar > div > div {
  background-color: #121212 !important;
  color: #fff;
  transition: 2s;
}
#light .nav-bar {
  background-color: #fff !important;
  color: #121212;

  transition: 2s;
}
#dark .nav-bar {
  background-color: #242424;
  color: #fff;
  transition: 2s;
}

#light .main {
  color: #4c4d4d !important;
  transition: 2s;
}
#dark .main {
  color: #fff;
  transition: 2s;
  background-color: #242424;
}

#light .icon > div {
  color: grey;
  transition: 2s;
}
#dark .icon > div {
  color: grey;
  transition: 2s;
}

#dark .sidebar-header {
  color: #fff;
}
#light .sidebar-header {
  color: #fff;
}

#light .socail-icon a {
  color: #121212;
}
#dark .socail-icon a {
  color: #fff;
}
#light .socail-icon {
  color: #121212;
}
#dark .socail-icon {
  color: #fff;
}

#light .line {
  background-color: #121211 !important;
}
#dark .line {
  background-color: #fff !important;
}
#dark .featured-box > h4 {
  color: #b7b4b4 !important;
}

#dark .company-exp :hover {
  background-color: rgb(44, 44, 44);
  transition: 0.8s ease-out;
  border-radius: 8px;
  cursor: pointer;
}
#light .company-exp :hover {
  background-color: #eaeaea;
  transition: 0.8s ease-in;
  border-radius: 8px;
  cursor: pointer;
}

#dark .percentage {
  color: black;
}
#light .percentage {
  color: #fff;
}

#light .percentage:hover {
  color: #fff;
  background-color: #121211 !important;
}
#dark .tech-stack {
  border: 2px solid rgb(253, 251, 251);
}
#dark .project-image {
  border: 2px solid #fff;
}
#dark .para {
  font-weight: 100 !important;
}
#dark .con-input {
  background-color: #232A31;
  border-color: #232A31;

}
#dark .con-text {
  background-color: #232A31;
  border: #232A31;
}

#dark .form-control{
   color: #eaeaea;
}
#light .education{
  background-color: transparent !important;
  border: 1px solid rgb(225, 225, 225);
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background-color: #242424 !important;
  color: #fff !important;
}

