body {
  font-family: Poppins, sans-serif !important;
  color: #4c4d4d !important;
  margin: 0px !important;
  padding: 0px !important;
}
.App {
  width: 100vw;
  height: 100vh;
}

#light {
  background-color: #ffffff;
  transition: 2s;
}
#dark {
  background-color: #242424;

  transition: 2s;
}

#light .sidebar > div > div {
  background-color: #121212 !important;
  color: #121212;
  transition: 2s;
}
#dark .sidebar > div > div {
  background-color: #121212 !important;
  color: #fff;
  transition: 2s;
}
#light .nav-bar {
  background-color: #fff !important;
  color: #121212;

  transition: 2s;
}
#dark .nav-bar {
  background-color: #242424;
  color: #fff;
  transition: 2s;
}

#light .main {
  color: #4c4d4d !important;
  transition: 2s;
}
#dark .main {
  color: #fff;
  transition: 2s;
  background-color: #242424;

}

#light .icon > div {
  color: grey;
  transition: 2s;
}
#dark .icon > div {
  color: grey;
  transition: 2s;
}

#dark .sidebar-header {
  color: #fff;
}
#light .sidebar-header {
  color: #fff;
}

#light .socail-icon a {
  color: #121212;
}
#dark .socail-icon a {
  color: #fff;
}
#light .socail-icon {
  color: #121212;
}
#dark .socail-icon {
  color: #fff;
}

#light .line {
  background-color: #121211 !important;
}
#dark .line {
  background-color: #fff !important;
}
#dark .featured-box > h4 {
  color: #b7b4b4 !important;
}
