.word{
    font-size: 48px;
}
.overlay{
    /* width: 300px; */
    height: 260px;

}
.my-pic{
    width: 730px;
   transform: translate(-330px , -90px);
   overflow: hidden;
}
.line{
    color: black;
    height: 5px;
}
/* @media screen and (max-width: 450px) {
    .my-pic {
        transform: translate(-100px , -400px);
        margin-top: 100px;
    }
    .overlay{
        margin-top: 100px;
    }
} */
