.word {
  height: 75px;
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
}
.line {
  background-color: #121211;
  height: 3px;
}
.btn-hire {
  border-color: #20c997;
  color: #20c997;
  font-weight: 400;
  padding: 0.8rem 2.6rem;
  /* transition: all 0.5s ease-in; */
  background: none;
  border-radius: 50rem;
  border: 2px solid #20c997;
}
.hire :hover {
  background-color: #20c997;
  transition: all 0.1s ease;
  border-radius: 50rem;
  font-weight: 400;
  color: #fff;
}
.hire {
  border-color: #20c997;
}
